<div class="tag bug <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Pok%C3%A9mon_Bug_Type_Icon.svg/2048px-Pok%C3%A9mon_Bug_Type_Icon.svg.png") %>
  <p>BUG</p>
</div>
