<div class="tag electric <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Pok%C3%A9mon_Electric_Type_Icon.svg/1024px-Pok%C3%A9mon_Electric_Type_Icon.svg.png") %>
  <p>ELECTRIC</p>
</div>
