<div class="tag fighting <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Pok%C3%A9mon_Fighting_Type_Icon.svg/2048px-Pok%C3%A9mon_Fighting_Type_Icon.svg.png") %>
  <p>FIGHTING</p>
</div>
