<div class="tag flying <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Pok%C3%A9mon_Flying_Type_Icon.svg/1024px-Pok%C3%A9mon_Flying_Type_Icon.svg.png") %>
  <p>FLYING</p>
</div>
