<div class="tag ghost <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Pok%C3%A9mon_Ghost_Type_Icon.svg/1024px-Pok%C3%A9mon_Ghost_Type_Icon.svg.png") %>
  <p>GHOST</p>
</div>
