<div class="tag ice <%= myclass %>">
  <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Pok%C3%A9mon_Ice_Type_Icon.svg/480px-Pok%C3%A9mon_Ice_Type_Icon.svg.png") %>
  <p>ICE</p>
</div>
