// Import your components CSS files here.
@import "ability";
@import "alert";
@import "arrow";
@import "avatar";
@import "board";
@import "card";
@import "container";
@import "form_legend_clear";
@import "navbar";
@import "search_bar";
@import "types_tags";

p {
  margin: 0;
}

a {
  text-decoration: none;
  color:black;
  &:hover {
    color: black;
  }
}
