.tag {
  width: fit-content;
  padding: 5px 5px 5px 2px;
  height: 12.5px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  p {
    width: min-content;
    height: 10px;
    color: #FFFFFF;
    font-size: 7px;
    text-align: left;
    margin-bottom: 0 !important;
  }
  img {
    width: 11px !important;
    height: 11px !important;
  }
  &.type_1 {
    position:absolute;
    bottom: 3px;
    right: 3px;
  }
  &.type_2 {
    position:absolute;
    bottom: 18px;
    right: 3px;
  }
  &.grass {
    background-color: #38BF4B;
  }
  &.poison {
    background-color: #B567CE;
  }
  &.fire {
    background-color: #FF983F;
  }
  &.flying {
    background-color: #8AACE4;
  }
}
